/*** Reset ***/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*** Styling ***/

#side_bar {
  position: fixed;
  height:100%;
  width:400px;
  background-color: rgba(205, 214, 200, .5);
  display: none;
  overflow-x:auto;
  border-right:3px solid rgba(53 ,56, 255, 0.5);
  border-left:3px solid rgba(53 ,56, 255, 0.5);
  -webkit-box-shadow: 3px 0px 0px 0px rgba(191, 0, 20, 0.5);
  -moz-box-shadow:    3px 0px 0px 0px rgba(191, 0, 20, 0.5);
  box-shadow:         3px 0px 0px 0px rgba(191, 0, 20, 0.5);
}

#exit {
  position: absolute;
  top: 10px;
  right: 14px;
  cursor: pointer;
  font-family: sans-serif;
}

#mcs {
  margin-top:40px;
}

.mc {
  height: 126px;
  color:white;
  margin-bottom:8px;
}

.R.mc {
  border-top: 1px solid #BF0014;
  border-bottom: 3px solid #BF0014;
}

.D.mc {
  border-top: 1px solid #3538FF;
  border-bottom: 3px solid #3538FF;
}

.banner {
  position:relative;
  top:14px;
  height:16px;
}

.D .banner {
  background-color: #3538FF;
}

.R .banner {
  background-color: #BF0014;
}

.D {
  background-color: rgba(42, 133, 255, 0.6);
}

.R {
  background-color: rgba(244, 0, 13, 0.6);
}

.image {
  display:inline-block;
  height:130px;
}

.mc img {
  margin-left: 10px;
  margin-top:26px;
  border-radius:50%;
}

.D img {
  -webkit-box-shadow: 5px 1px 0px 0px rgba(53 ,56, 255, 0.89);
  -moz-box-shadow:    5px 1px 0px 0px rgba(53 ,56, 255, 0.89);
  box-shadow:         5px 1px 0px 0px rgba(53 ,56, 255, 0.89);
}

.R img {
  -webkit-box-shadow: 5px 1px 0px 0px rgba(191, 0, 20, 0.89);
  -moz-box-shadow:    5px 1px 0px 0px rgba(191, 0, 20, 0.89);
  box-shadow:         5px 1px 0px 0px rgba(191, 0, 20, 0.89);
}

.name {
  position:absolute;
  font-family: "Oleo Script", cursive;
  font-weight:400;
  font-size:23px;
  left: 8px;
}

.twitter_account {
  margin-left:14px;
}

.twitter_account, .twitter_account a {
  font-family:"Muli", sans-serif;
  font-weight:400;
  font-size:11px;
  text-decoration:none;
  color:white;
}

.date {
  display:inline-block;
  font-weight:400;
  margin-top:20px;
  float:right;
  font-family:"Muli", sans-serif;
  color:white;
}

.tweet {
  margin-left:10px;
  margin-top:25px;
  display:inline-block;
  height:90px;
  width:300px;
  font-family:"Muli", sans-serif;
  font-weight:300;
  font-style:italic;
  font-size:14px;
}